.cover-1 {
    background-image: url("/assets/images/team-zigzag.svg");
    background-repeat: no-repeat;
    background-position: top left;
}

.cover-2 {
    background-image: url("/assets/images/team-flower.svg");
    background-repeat: no-repeat;
    background-position: bottom -30px right -30px;
}
